@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Loader style */
.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #4caf50;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

.font {
  font-family: "Acme", serif;
  font-weight: 500;
  font-style: normal;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
